@import 'sections/global';
@import 'utilities/global';

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    color: black;
    background-color: white;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 5px 20px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 5px 20px 0px rgba(50, 50, 50, 0.1);
    .header__main-container{
        .main-container__logo{
            svg{
                path{
                    fill: #ff2b32;
                }
            }
        }
        .main-container__search-and-form{

            .main-container__search{
                opacity: 1;
            }
            .main-container__form{
                opacity: 0;
                transform-origin: top !important;
                transform: scale(0);

            }
        }
    }
}

.show-form{
    .header__main-container{
        .main-container__search-and-form{
            .main-container__search{
                opacity: 0;
            }
            .main-container__form{
                opacity: 1;

            }
        }
    }
}

.bg-gray-1000{
    background-color: rgb(36, 36, 36);
}